<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vehículos</title>
</head>
<body>
    <h1>Lista de Vehículos</h1>
    <ul>
        {% for vehicle in vehicle_list %}
        <h2>{{ vehicle.name }}</h2>
        {% if vehicle.image %}
            <img src="{{ vehicle.image.url }}" alt="{{ vehicle.name }}">
        {% else %}
            <p>No hay imagen disponible</p>
        {% endif %}
    {% endfor %}
    </ul>
</body>
</html>
