<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Vehículo</title>
</head>
<body>
    <h1>Detalles del Vehículo</h1>
    <ul>
        <h2>{{ vehicle.name }}</h2>
        {% if has_image %}
            <img src="{{ vehicle.image.url }}" alt="{{ vehicle.name }}">
        {% else %}
            <p>No hay imagen disponible</p>
        {% endif %}
        <li><strong>Marca:</strong> {{ vehicle.brand }}</li>
        <li><strong>Modelo:</strong> {{ vehicle.model }}</li>
        <li><strong>Año:</strong> {{ vehicle.year }}</li>
        <li><strong>Precio:</strong> {{ vehicle.price }}</li>
        <!-- Agrega la etiqueta img para mostrar la imagen del vehículo -->
        {% if vehicle.image %}
        <img src="{{ vehicle.image.url }}" alt="Vehicle Image">
        {% else %}
            <p>No image available</p>
        {% endif %}
            </ul>
    </body>
</html>
